.menu {
  &-list {
    padding: 0;
  }

  &-link:hover {
    background-color: #e8eced;
    cursor: pointer;
  }

  &-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &-icone {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0.8rem;
    }
  }
}
