<app-header (onClickToggle)="onClickToggle()"></app-header>

<app-sidenav (setOpenedValueFn)="setSidenavOpen = $event">
  <div sidenav>
    <mat-list class="menu-list">
      @for (item of menuList; track $index) {
      <a
        class="menu-link"
        (click)="onClickMenu()"
        [routerLink]="[item?.path]"
        routerLinkActive="active"
      >
        <mat-list-item>
          <div class="d-flex">
            <div class="menu-link-icone">
              <mat-icon [fontIcon]="item.icone" color="primary"></mat-icon>
            </div>
  
            <div class="d-flex justify-content-center align-items-center">
              {{ item?.menuName }}
            </div>
          </div>
        </mat-list-item>
      </a>
      }
    </mat-list>
  </div>

  <div sidenav-content>
    <router-outlet></router-outlet>
  </div>
</app-sidenav>
