.menu {
  &-list {
    padding: 0;
  }

  &-link:hover {
    cursor: pointer;
    background-color: #e8eced;
  }

  &-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-bottom: 0.5rem;

    &-icone {
      margin-right: 0.8rem;
    }
  }
}
