<h2 mat-dialog-title [ngClass]="{'color-danger': data?.type === 'error'}">{{ data?.title }}</h2>

<mat-dialog-content>
  {{ data?.message }}
</mat-dialog-content>

@if (data?.askConfirmation) {
<mat-dialog-actions align="end">
  <button (click)="onNo()" mat-button mat-dialog-close>Não</button>
  <button
    (click)="onYes()"
    mat-button
    mat-dialog-close
    cdkFocusInitial
    color="accent"
  >
    Sim
  </button>
</mat-dialog-actions>
}

@if (data?.buttonOk) {
  <mat-dialog-actions align="end">
    <button (click)="closeDialog()" mat-button mat-dialog-close>Ok</button>
  </mat-dialog-actions>
}
