<form [formGroup]="form" class="form-container">
  <div class="form-content-container content-cadastro-pedido">
    <div class="row">
      <div class="col-6">
        <autocomplete
          [label]="'Cliente'"
          [control]="getFormControl('cliente')"
          [options$]="clienteOptions$.bind(this)"
          [displayFormat]="displayFormat"
          [detailData]="detailData"
        >
        </autocomplete>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Tipo do pedido</mat-label>
          <mat-select formControlName="tipo">
            @for (tipoPedido of tiposPedido; track tipoPedido) {
            <mat-option [value]="tipoPedido.value">{{
              tipoPedido.viewValue
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Valor pago</mat-label>
          <input
            matInput
            type="text"
            currencyMask
            formControlName="valorPago"
            placeholder="0,00"
            [options]="currencyMask"
          />
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Forma de pagamento</mat-label>
          <mat-select formControlName="formaPagamento">
            @for (formaPagamento of formasDePagamento; track formaPagamento) {
            <mat-option [value]="formaPagamento.value">{{
              formaPagamento.viewValue
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Valor do frete</mat-label>
          <input
            matInput
            type="text"
            currencyMask
            formControlName="frete"
            placeholder="0,00"
            [options]="currencyMask"
          />
        </mat-form-field>
      </div>
    </div>

    <dump-list
      [displayedColumns]="itemPedidoColumns"
      [getTableData$]="getObservableItensPedido.bind(this)"
      [insereNovoItem]="insereNovoItem.bind(this)"
      [buttonName]="'Adicionar item ao pedido'"
    >
    </dump-list>
  </div>

  <div class="mt-2 d-flex justify-content-between align-items-center" style="width: 900px">
    <mat-card appearance="outlined">
      <div style="font-size: medium; font-weight: 500">
        <mat-card-content>
          <span>Total do pedido: </span>
          <span>{{ valorPedido }}</span>
        </mat-card-content>
      </div>
    </mat-card>

    <div>
      <button
        style="margin-right: 5px"
        mat-raised-button
        color="accent"
        (click)="onCancel()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
