<div class="full-heigth-table full-width-table h-100">
  <mat-form-field class="w-100">
    <mat-label>Pesquisa</mat-label>
    <input matInput (keyup)="search($event)" #input />
  </mat-form-field>

  <div class="table-scroll mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      @for (column of objColumns; track $index) {
      <ng-container [matColumnDef]="column.value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label.toUpperCase() }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="w-100 h-100 d-flex" [ngClass]="getClasses(column)">
            <span>
              {{ getProperty(row, column) }}
            </span>
          </div>
        </td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>

  <mat-paginator
    #paginator
    class="mat-elevation-z8"
    [length]="totalData"
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
